@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100%;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 200px;
  height: 300px;
  margin-top: 5%;
  margin-bottom: 5px;
  background-color: whitesmoke;
  border-radius: 15px;
}

#symbol {
  position: absolute;
  margin-left: 20px;
  font-size: 50px;
}

#number {
  text-align: center;
  margin-top: 45%;
  font-size: 85px;
  font-weight: bold;
}

#symbol-reversed {
  position: absolute;
  margin-right: 20px;
  margin-bottom: auto;
  bottom: 0;
  right: 0;
  font-size: 50px;
  transform: rotateX(180deg);
}

button {
  background-color: rgb(86, 180, 218);
  color: whitesmoke;
  border-radius: 5px;
  font-weight: bold;
}
